@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.top-line {
    float: left;
    background: black;
    height: 44px;
    width: 50%;
    box-sizing: border-box;
    color: gray;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.phone-pict {
    position: relative;
    width: 14px;
    height: 14px;
    left: -5px;
    top: 3px;    
}

.open_door {
    position: relative;
    width: 14px;
    height: 14px;
    left: 11px;
    top: 3px;
}

.arrow_right {
    position: relative;
    width: 14px;
    height: 14px;
    left: -10px;
    top: 3px;
}

a:link {
    color: gray;
  }
  
a:visited {
    color: #860697;
  }
