@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.top-line {
    display: flex;
    background: black;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 100%;
    color: gray;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.left-side {
    display: flex; 
    justify-content: center; 
    padding-left: 180px;
}

.right-side {
    display: flex; 
    justify-content: center;
    padding-left: 500px;
}

.phone-icon{
    margin: 1px 10px;
    padding-left: 10px;
    width: 14px;
    height: 14px;
}

.login {
    margin: 1px 10px;
    width: 14px;
    height: 14px;
}

.phone-number {
    color: gray;
}
