@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.top-line {
    display: flex;
    background: black;
    height: 44px;
    width: 100%;
    color: gray;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.left-side {
    display: flex; 
    justify-content: center;
    margin: auto;
    
}

.right-side {
    display: flex; 
    justify-content: center;
    margin: auto;
    
}

.phone-pict {
    margin: auto;
    padding-right: 10px;
    width: 14px;
    height: 14px;
}

.log-in {
    margin: auto;
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

a:link {
    color: gray;
  }
  
a:visited {
    color: #860697;
  }
